.post-img img {
    width: 100%;
    height: 600px;
}
.text h4 {
    margin: 10px 0;
}

.text > p::selection {
    background-color: #62cff4;
}

.post-title {
    text-align: center;
}

.post-page {
    margin-bottom: 0 !important;
}